#holder{
font-family: Helvetica Neue, sans-serif;
  max-width: 600px;
  margin: 100px auto;
  box-sizing: border-box;
}
#serviceContainer{
  border: 2px solid #ddd;
  outline: none;
}
#serviceBox{
  border: 2px solid #ddd;
  outline: none;
}
#serviceBox:hover{
    border: 2px solid #ccf;
}
#suggestion{
  display: flex;
  font-size: 20px;
  align-items: baseline;
  padding: 10px 0;
  border: 1px solid #ddd;
  outline: none;
}
#suggestion:hover{
    border: 2px solid #ccf;
    border-left: 5px solid #ccf;
}
#introHolder{
    padding: 20px 0;
    font-weight: bold;
    font-family: inherit;
}

#resultsHolder{
  border: 2px solid #ddd;
  outline: none;
}

#lgButton{
  text-align: center;
  background: LightCoral;
  display: block;
  width: 100%;
  padding: 25px;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #ddd;
  outline: none;
  color: white;
}
#lgButton:hover {
  border-color: #bbb;
}

input[type="text"], input[type="password"] {
  width: 50%;
  border: none;
  font: inherit;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1.5px solid #000;
}
input[type="text"]:hover, input[type="password"]:hover {
  border-bottom: 3px solid #000;
}

button,a{
  text-align: center;
  font: inherit;
  display: inline-block;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 1rem;
  background: lightgreen;
  color: white;
  border: 2px solid lightgreen;
}  
button,a:hover {
  border: 2px solid lightgray;
}

h1{
  color: #000;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
}

p {
  color: #000;
  font: inherit;
  font-weight: bold;
  font-size: 10px;
}

.fill-height {
  height: 75vh;
}