.Holder {
  font-family: Helvetica Neue, sans-serif;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
}

.ServiceContainer {
  border: 2px solid #ddd;
  outline: none;
}

.ServiceBox {
  border: 2px solid #ddd;
  outline: none;
}

.ServiceBox:hover {
  border: 2px solid #ccf;
}

.Suggestion {
  display: flex;
  font-size: 20px;
  align-items: baseline;
  padding: 10px 0;
  border: 1px solid #ddd;
  outline: none;
}

.Suggestion:hover {
  border: 2px solid #ccf;
  border-left: 5px solid #ccf;
}

.IntroHolder {
  padding: 20px 0;
  font-weight: bold;
  opacity: 0.2;
  font-family: inherit;
}

.ResultsHolder {
  border: 2px solid #ddd;
  outline: none;
}

.SearchInput {
  display: block;
  width: 100%;
  padding: 25px;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #ddd;
  outline: none;
}

.SearchInput:focus {
  border-color: #bbb;
}

.PlusButton {
  text-align: center;
  background: lightgreen;
  display: block;
  width: 100%;
  padding: 25px;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #ddd;
  outline: none;
  color: white;
}

.PlusButton:hover {
  border-color: #bbb;
}

.DoneButton {
  text-align: center;
  font: inherit;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 11rem;
  background: lightgreen;
  color: white;
  border: 2px solid lightgreen;
}

.DoneButton:hover {
  border: 2px solid green;
}

.Error {
  font: inherit;
  display: inline-block;
  margin: 0.5rem 1rem;
  background: rgba(255, 0, 0, 0.4);
  color: black;
  border-radius: 5px;
  width: 100%;
  opacity: 0.4;
  padding: 5px;
  font: inherit;
  font-weight: bold;
  font-size: 0.8em;
  border: 1px solid red;
  outline: none;
}

.Header {
  color: #000;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
}

.TimeInput {
  width: 15%;
  border: none;
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1.5px solid #000;
}

.TimeInput:hover {
  border-bottom: 3px solid #000;
}

.FormButton {
  text-align: center;
  font: inherit;
  display: inline-block;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 1rem;
  background: lightgreen;
  color: white;
  border: 2px solid lightgreen;
}

.FormButton:hover {
  border: 2px solid lightgray;
}

.FileInput {
  border: none;
  font: inherit;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1.5px solid #000;
}

.FileInput:hover {
  border-bottom: 3px solid .000;
}

/* put in seperate css file: */

.CropParent {
  position: absolute;
  max-height: inherit;
  max-width: inherit;
  box-sizing: border-box;
  overflow: none;
  margin: 10px;
  background-color: rgba(150, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.CropBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.CropTopLeft {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;

  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}

.CropTopRight {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;

  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.CropBottomLeft {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;

  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.CropBottomRight {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;

  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}