<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SEngine</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>

    // window.electron.ipcRenderer.getAll();
    // window.electron.ipcRenderer.once('getAllFiles', (arg) => {
    //   // eslint-disable-next-line no-console
    //   console.log(arg);
    // });

  </script>
</html>
